.bgc{
  background-color: rgba(218, 218, 217, 0.582);
}

body {
  background-image: url('img/istockphoto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}